* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: darkgrey;
    padding: 0%;
    text-align: left;
    color: wheat;
    display: flex;
    flex-direction: row;
}
#logoTitre{
    width: 150px;
    height: auto;
    margin: 10px;
}
h1{
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 10px;
    flex: auto;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: wheat;
}

div{
    font-family: 'Courier New', Courier, monospace;
}

.premiereLigne{
    display: flex;  
    flex-wrap: wrap;
    gap: 50px;
    padding: 20px;
}
.gridRessource{
    display: grid;
}

/**
 * titre de la partie
*/
h2 {
    font-size: 25px;
    color: #0097B2;
}


ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.ressource {
    display: inline-block;
    margin-right: 10px;
    width: 100px; /* Remplacez 100px par la largeur souhaitée */
    overflow: hidden; /* Pour s'assurer que le contenu ne dépasse pas la largeur spécifiée */
    white-space: nowrap; /* Empêche le texte de passer à la ligne */
}
    
/**
 * liste des informations
*/

li {
    color: black;
    font-weight: bold;
    font-size: 17px;
}

/**
 * Placer un point ou autre avant la liste (compensation li sur la même ligne)
*/
li::before {
    content: '\2022'; /**unicode**/
    font-size: 1.2em;
    margin-right: 5px;
}



/**
 * information générer dans le li 
*/
info {
    color: black;
    font-weight: normal;
    font-size: 12px;
}
